@import "compass";
@import "vars";

//body
body{
	background-color:$global-bg-color;
	font-family: $font-family;
    font-weight: $body-font-weight;
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

.fixed {
  position: fixed;
  &.pinned {
    position: absolute;
  }
}

.unfixed {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}

.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.third {
  width: 33.333%;
}
.two-thirds {
  width: 66.666%;
}
.full {
  width: 100%;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.content{
    background-color:$global-bg-color;
}

.flatten-input{
    border-radius:0px;
    box-shadow:none;
}
.text-center{
    text-align:center;
}

//Nav Bar
.bar-title{
	font-family: $font-family;
    font-weight: $header-font-weight;
	background-color:$navbar-color;
	@include no-pretty;
	.title{
		font-family: $font-family;
    	font-weight: $header-font-weight;
	}
	
}
//Footer
.bar-footer{
	border:none;
   /* height:inherit;*/
} 
//button
[class*="button"]{
	font-family: $font-family;
  	font-weight: $button-font-weight;
	@include no-pretty;
	&:active{
		background-color:#CCC;
	}
}
.button-main{
	background-color:$default-color;
    color:$global-font-dark;
	&:active{
		background-color:darken($default-color,30%);
	}
	
}
.button-positive{
	background-color:$primary-color;
    color:$global-font-light;
	&:active{
		background-color:darken($primary-color,30%);
	}	
}
.button-negative{
	background-color:$warning-color;
    color:$global-font-light;
	&:active{
		background-color:darken($default-color,30%);
	}
	
}
.button-green{
    background-color:$secondary-color;
    color:$global-font-light;
    &:active{
        background-color:darken($default-color,30%);
    }
    
}
.button-info{
    background-color:$info-color;
    color:$global-font-light;
    &:active{
        background-color:darken($default-color,30%);
    }
    
}
.button-navbar{
    background-color:$slide-nav-bar-color;
    color:$global-font-light;
    &:active{
        background-color:darken($slide-nav-bar-color,30%);
    }   
}
.bar-title [class*="btn-hdr-symbol"]{
   @include no-pretty;
   background-color:$navbar-color;
   color:$global-font-light;
   font-size:18px; 
}
//Sliding Navbar
/* Hide nav handler checkbox */
#nav-handler {
    display: none;
}

/* Header */
#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 2;
    background: $navbar-color;
    color: $global-font-light;
    padding: 5px;
    @include box-sizing(border-box);
    @include display-box;
    @include no-pretty;
    .title{
        font-family: $font-family;
        font-weight: $header-font-weight;
        width:100%;
        text-align:center;        
    }
    label{
        color: $primary-color;
        padding: 0px 5px;
        display:inline-block;
    }
}
#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color:$global-bg-color;
    @include single-transition(opacity,0.25s,ease-in-out,0);
}
#nav-handler:checked ~ #nav {
    opacity:1;
}
#nav ul li{
    display: block;
    clear: both;
    a{
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom:1px;
        padding: 10px;
        text-align: left;
        font-size: 20px;
        line-height: 2;
    }
}

#out-container {
    display: block;
    position: relative;
    min-height: 400px;
    z-index: 5;
    background-color:$global-bg-color;
    @include transform(translate3D(0,0,0));
    @include transition(transform, .25s,ease-in-out);     
}

/* Translate main container when nav handler is checked */
#nav-handler:checked ~ #out-container {
    @include transform(translate3D(80%,0,0)); /* X value must be same as Nav width */   
}

#content-container {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    z-index: -1; 
}
//Remember me checkbox.
#remember-me{
    display:none;    
}
#remember-me-tick{
    opacity:0;
    font-size:18px;
    color:$primary-color;
    @include single-transition(opacity,0.25s,linear,0);  
}
#remember-me:checked + #remember-me-tick{
    opacity:1;
}
.check-label{
    display:inline-block;
    color:$primary-color;
    padding:10px;    
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
//Icon quiet buttons from topcoat io.
/*
 Icon Button
 -----------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="tc-icon-btn">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="tc-icon-btn is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="tc-icon-btn is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/
.tc-icon-btn,
.tc-icon-btn--quiet,
.tc-icon-btn--large,
.tc-icon-btn--large--quiet,
.tc-icon-btn-hdr,
.tc-icon-btn-choice {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;  
  line-height: 40px;
  letter-spacing: 1px;
  color: $primary-color;
  vertical-align: baseline;
  background-color: $navbar-color;
  @include box-sizing(border-box);
  @include background-clip(padding-box);
  //@include user-select(none);
  //@include text-overflow(ellipsis);
  @include box-shadow(none);
  @include border-radius(0);
  @include text-shadow(none);
}
.tc-icon-btn:active,
.tc-icon-btn.is-active {
  background-color: $secondary-color;
  //-webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  //box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.tc-icon-btn:disabled,
.tc-icon-btn.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Quiet Icon Button
 -----------------

 :active - Button active state

 .is-active - Simulates active state for a button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="tc-icon-btn--quiet">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="tc-icon-btn--quiet is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="tc-icon-btn--quiet is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/
.tc-icon-btn--quiet {
  background: transparent;
  //border: 1px solid transparent;
  //-webkit-box-shadow: none;
  //box-shadow: none;
}
.tc-icon-btn--quiet:active,
.tc-icon-btn--quiet.is-active,
.tc-icon-btn--large--quiet:active,
.tc-icon-btn--large--quiet.is-active {
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #d3d7d7;
  border: 1px solid #a5a8a8;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.tc-icon-btn--quiet:disabled,
.tc-icon-btn--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
//Additional styles
.tc-icon-btn-choice{
  background-color:$primary-color;
  color:$global-font-light;
  padding:5px;
  line-height:48px;
  text-align:center;
  @include single-transition(background-color,0.25s,linear,0);
}

// Challenge styles
.eh-challenge{
  display:inline-block;
  .eh-clg-choices{
    margin:2px;
    display:table;
    width:100%;
    div{
      display:table-cell;
      width:50%;
      padding-right:3px;
      input[type="radio"]:checked + span{
        background-color:$secondary-color;
      }
    }    
  }
  .eh-clg-question{

  }
  .eh-clg-report{

  }
  .eh-clg-counter{

  }
  .eh-clg-rpt-options{

  }
}