@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/sass/_base.scss */
body {
  background-color: #ecf0f1;
  font-family: "Open Sans";
  font-weight: 400;
}

/* line 10, ../sass/sass/_base.scss */
.content {
  background-color: #ecf0f1;
}

/* line 14, ../sass/sass/_base.scss */
.flatten-input {
  border-radius: 0px;
  box-shadow: none;
}

/* line 20, ../sass/sass/_base.scss */
.bar-title {
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #1abc9c;
  border: none;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
}
/* line 25, ../sass/sass/_base.scss */
.bar-title .title {
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 32, ../sass/sass/_base.scss */
.bar-footer {
  border: none;
  /* height:inherit;*/
}

/* line 37, ../sass/sass/_base.scss */
[class*="button"] {
  font-family: "Open Sans";
  font-weight: 600;
  border: none;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
}
/* line 41, ../sass/sass/_base.scss */
[class*="button"]:active {
  background-color: #CCC;
}

/* line 45, ../sass/sass/_base.scss */
.button-main {
  background-color: #f2f2f2;
  color: #2c3e50;
}
/* line 48, ../sass/sass/_base.scss */
.button-main:active {
  background-color: #a5a5a5;
}

/* line 53, ../sass/sass/_base.scss */
.button-positive {
  background-color: #1abc9c;
  color: #ecf0f1;
}
/* line 56, ../sass/sass/_base.scss */
.button-positive:active {
  background-color: #07362c;
}

/* line 60, ../sass/sass/_base.scss */
.button-negative {
  background-color: #f6b83f;
  color: #ecf0f1;
}
/* line 63, ../sass/sass/_base.scss */
.button-negative:active {
  background-color: #a5a5a5;
}

/* line 68, ../sass/sass/_base.scss */
.button-green {
  background-color: #16a085;
  color: #ecf0f1;
}
/* line 71, ../sass/sass/_base.scss */
.button-green:active {
  background-color: #a5a5a5;
}

/* Hide nav handler checkbox */
/* line 78, ../sass/sass/_base.scss */
#nav-handler {
  display: none;
}

/* Header */
/* line 83, ../sass/sass/_base.scss */
#header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 2;
  background: #1abc9c;
  color: #ecf0f1;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  border: none;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
}
/* line 96, ../sass/sass/_base.scss */
#header .title {
  font-family: "Open Sans";
  font-weight: 300;
  width: 100%;
  text-align: center;
}

/* line 103, ../sass/sass/_base.scss */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #ecf0f1;
  -webkit-transition: opacity 0s ease;
  -webkit-transition-delay: 0.25s;
  -moz-transition: opacity 0s ease 0.25s;
  -o-transition: opacity 0s ease 0.25s;
  transition: opacity 0s ease 0.25s;
}

/* line 115, ../sass/sass/_base.scss */
#nav-handler:checked ~ #nav {
  opacity: 1;
}

/* line 118, ../sass/sass/_base.scss */
#nav ul li {
  display: block;
  clear: both;
}
/* line 121, ../sass/sass/_base.scss */
#nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 1px;
  padding-left: 5px;
  text-align: left;
}

/* line 131, ../sass/sass/_base.scss */
#out-container {
  display: block;
  position: relative;
  min-height: 400px;
  z-index: 5;
  background-color: #ecf0f1;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform, 0.25s, ease-in-out;
  -moz-transition: -moz-transform, 0.25s, ease-in-out;
  -o-transition: -o-transform, 0.25s, ease-in-out;
  transition: transform, 0.25s, ease-in-out;
}

/* Translate main container when nav handler is checked */
/* line 142, ../sass/sass/_base.scss */
#nav-handler:checked ~ #out-container {
  -webkit-transform: translate3D(80%, 0, 0);
  -moz-transform: translate3D(80%, 0, 0);
  -ms-transform: translate3D(80%, 0, 0);
  -o-transform: translate3D(80%, 0, 0);
  transform: translate3D(80%, 0, 0);
  /* X value must be same as Nav width */
}

/* line 146, ../sass/sass/_base.scss */
#content-container {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  z-index: -1;
}
