<div class="page">
<input type="checkbox" id="nav-handler" class="hide needsclick">
<nav id="nav">
    <ul>
        <li><a href="#" class="topcoat-icon-button--quiet"><i class="icon-dribbble icon-large"> </i>Play</a></li>
        <li><a href="# "class="topcoat-icon-button--quiet"><i class="icon-calendar-empty icon-large"> </i>Stats</a></li>
        <li><a href="# "class="topcoat-icon-button--quiet"><i class="icon-cog icon-large"> </i>Settings</a></li>
        <li><a href="# "class="topcoat-icon-button--quiet"><i class="icon-question-sign icon-large"> </i>Help</a></li>
        <li><a href="# "class="topcoat-icon-button--quiet"><i class="icon-off icon-large"> </i>Exit</a></li>
    </ul>
</nav>
<div id="wrapper-container">  
<!--<header id="header"><label id="menu-button" for="nav-handler"><i class="icon-reorder icon-2x"></i></label>
  <h1 class="title">Game on </h1>
</header>-->

<header>
  <div class="topcoat-navigation-bar eh-title">
        <div class="topcoat-navigation-bar__item left col-1">
            <label id="menu-button" for="nav-handler"><i class="icon-reorder icon-large"></i></label>
        </div>
        <div class="topcoat-navigation-bar__item center col-6">
            <h1 class="topcoat-navigation-bar__title eh-title-text">Game on</h1>
        </div>
        <div class="topcoat-navigation-bar__item right col-1">
            <!--<a class="topcoat-icon-button--quiet">
              <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>-->
        </div>
    </div>
</header>
<div class="content">
    <!--<div class="slider">-->
        <ul>
          <% _.each(data, function(challenge) { %> 
            <li>
                
                <div class="choices">
    <label class="red"><input type="radio" name="toggle"><span>Nope! I don't like it.</span></label>
    <label class="green"><input type="radio" name="toggle"><span>Yep! I like it.</span></label>    
</div>
                <div><img src="<%= challenge.sub %>"></div>
            </li>
          <% }); %>
  </ul>
<!--</div>-->
</div>
</div>
</div>