<input type="checkbox" id="nav-handler">
<nav id="nav">
    <ul>
        <li><a href="#challenge" class="button-navbar button-block"><i class="icon-dribbble icon-2x"> </i>Play</a></li>
        <li><a href="#stats" class="button-navbar button-block"><i class="icon-calendar-empty icon-2x"> </i>Stats</a></li>
        <li><a href="#history"class="button-navbar button-block"><i class="icon-hospital icon-2x"> </i>History</a></li>
        <li><a href="#settings"class="button-navbar button-block"><i class="icon-cog icon-2x"> </i>Settings</a></li>
        <li><a href="#help"class="button-navbar button-block"><i class="icon-question-sign icon-2x"> </i>Help</a></li>
        <li><a href="#home"class="button-navbar button-block"><i class="icon-off icon-2x"> </i>Log out</a></li>
    </ul>
</nav>
<div id="out-container">    
<header id="header"><label id="menu-button" for="nav-handler" class="icon-reorder icon-2x"></label>
  <h1 class="title">Game on</h1>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div id="content-container">
<div class="content">
    <!--<div class="slider">-->
        <ul>
          <% _.each(data, function(challenge) { %> 
            <li class="eh-challenge">
                
                <div class="eh-clg-choices">
    <label><input type="radio" name="toggle<%= challenge.id %>" class="hide"><span class="tc-icon-btn-choice full">Nope! I don't like it.</span></label>
    <label><input type="radio" name="toggle<%= challenge.id %>" class="hide"><span class="tc-icon-btn-choice full">Yep! I like it.</span></label>    
</div>
                <div class="center"><img src="<%= challenge.sub %>"></div>
                <div class="eh-clg-report"><i class="icon-flag icon-3x"></i></div>
                <div class="eh-clg-cnter">Answered: <br/><span class="cnt-text">10</span></div>
            </li>
          <% }); %>
  </ul>
<!--</div>-->
</div>
</div>
</div>